textarea {
  width: 400px;
  height: 200px;
}

.areaSmall {
  height: 40px;
  width: 400px;
}

.submit {
  padding: 10px;
  font-size: large;
  width: 100px;
}

.submit:hover {
  cursor: pointer;
}

form {
  padding: 10rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 1.9rem;
  color: var(--secondary-light);
  font-weight: bold;
}

.character-count {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
}

.character-count {
  align-self: center;
}
